<div id="seasons_index">
  <center>
    <%= render template: 'seasons/add_button' %>
    <br>
    <br>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td>Name</td>
          <td>End Date</td>
          <td>Rating</td>
          <td>Games</td>
          <td>+/-</td>
        </tr>
      </thead>
      <tbody>
        <% for season in @seasons %>
          <tr class="season_row" season_path="<%= league_season_path @league, season %>">
            <td><%= season.name %></td>
            <td><%= format_date season.end_date %></td>
            <% rating = season.user_rating current_user %>
            <td><%= rating.rating %></td>
            <td><%= rating.games_played %></td>
            <td><%= rating.wins %>/<%= rating.losses %></td>
          </tr>
        <% end %>
      <tbody>
    </table>
  </center>
</div>
