<% add_button = render template: 'seasons/add_button' %>
<%= render template: 'common/nav_bar', locals: { additional_buttons: add_button } %>
<div id="seasons_index">
  <center>
    <h2>Seasons</h2>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td>Name</td>
          <td>End Date</td>
          <td>Games</td>
          <td>+/-</td>
          <td>Ratio</td>
        </tr>
      </thead>
      <tbody>
        <% for season in @seasons %>
          <tr class="season_row" season_path="<%= league_season_path @league, season %>">
            <td><%= season.name %></td>
            <td><%= season.end_date %></td>
            <td><%= season.user_games(current_user).size %></td>
            <td><%= season.get_spread current_user %></td>
            <td><%= format_ratio(season.get_ratio current_user) %></td>
          </tr>
        <% end %>
      <tbody>
    </table>
  </center>
  <script>
    $('.season_row').click(function (event_object) {
      var target_path = event_object.target.parentElement.getAttribute('season_path');
      window.location.replace(target_path);
    });
  </script>
</div>
