<%= render template: 'common/nav_bar', locals: { additional_buttons: '' } %>
<div id="season_info">
  <center>
    <h2><%= @season.name %></h2>
    <div class="panel panel-success">
      <div id="rules_button" class="panel-heading">+ Rules</div>
      <div id="rules_panel" class="panel-body">
        <h3>
          Number of players per team: <%= @season.players_per_team %>
          <br>
          Number of cups per team: <%= @season.cups_per_team %>
          <br>
          Additional rules: <%= @season.additional_rules %>
        </h3>
      </div>
    </div>
    <h3>Standings</h3>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td>#</td>
          <td>Name</td>
          <td>Rating</td>
          <td>Games</td>
          <td>+/-</td>
          <td>Ratio</td>
        </tr>
      </thead>
      <tbody>
        <% i = 1 %>
        <% for rating in @season.ratings %>
          <tr class="user_row" user_path="<%= user_path rating.user_id %>">
            <td><%= i %></td>
            <% i = i + 1 %>
            <td><%= rating.name %></td>
            <td><%= rating.rating %></td>
            <td><%= rating.games_played %></td>
            <td><%= rating.wins %>/<%= rating.losses %></td>
            <td><%= format_ratio(rating.wins - rating.losses) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%= render template: 'games/index' %>
  </center>
  <script>
    $('#rules_panel').hide();
    $('#rules_button').click(function () {
      $('#rules_panel').toggle();
    });
    $('.user_row').click(function (event_object) {
      var target_path = event_object.target.parentElement.getAttribute('user_path');
      window.location.replace(target_path);
    });
    $('.user_row').css('cursor', 'pointer');
  </script>
</div>
