<div id="invite_page" league_path="<%= url_for league_path(@league) %>">
  <% if params[:client] == 'and' %>
    <%= render partial: 'invites/nav_bar', locals: { show_contacts: true } %>
    <div id="contact_invites_pane">
      <%= render 'invites/contact' %>
    </div>
    <div id="email_invites_pane" hidden>
      <%= render 'invites/email' %>
    </div>
    <div id="friend_invites_pane" hidden>
      <%= render 'invites/friend' %>
    </div>
    <script>
      $(document).ready(android_ready);
    </script>
  <% else %>
    <% if params[:client] == 'ios' %>
      <%= render partial: 'invites/nav_bar', locals: { show_contacts: true } %>
      <div id="contact_invites_pane">
        <%= render 'invites/contact' %>
      </div>
      <div id="email_invites_pane" hidden>
        <%= render 'invites/email' %>
      </div>
      <div id="friend_invites_pane" hidden>
        <%= render 'invites/friend' %>
      </div>
      <script>
        $(document).ready(ios_ready);
      </script>
    <% else %>
      <%= render partial: 'invites/nav_bar', locals: { show_contacts: false } %>
      <div id="email_invites_pane">
        <%= render 'invites/email' %>
      </div>
      <div id="friend_invites_pane" hidden>
        <%= render 'invites/friend' %>
      </div>
    <% end %>
  <% end %>
</div>
