<div id="admin_page">
  <center>
    <div class="well">
      <h1>
        <%= link_to @league.name, league_path(@league) %>
        Admin Page
      </h1>
      <div id="admin_edit_button">
        <%= link_to edit_league_path(@league) do %>
          <button class="btn btn-primary">
            <h4>
              <span class="glyphicon glyphicon-cog"></span>
            </h4>
          </button>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h2>Seasons</h2>
          </div>
          <div class="panel-body">
            <button id="add_season_button" type="button" class="btn btn-success btn-lg"
                    season_path="<%= url_for new_league_season_path(@league) %>">
              Create A Season
            </button>
            <br>
            <br>
            <%= render 'seasons/index' %>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-danger">
          <div class="panel-heading">
            <h2>Members</h2>
          </div>
          <div class="panel-body">
            <%= render template: 'leagues/members' %>
          </div>
        </div>
      </div>
    </div>
  </center>
</div>
