<% add_button = render template: 'leagues/add_button' %>
<%= render template: 'common/nav_bar', locals: { additional_buttons: add_button } %>
<div id="league_index">
  <center>
    <h2>Leagues</h2>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td>Name</td>
          <td>Rating</td>
          <td>Games</td>
          <td>+/-</td>
          <td>Ratio</td>
        </tr>
      </thead>
      <tbody>
        <% for league in @leagues %>
          <tr class="league_row" league_path="<%= league_path league %>">
            <td><%= league.name %></td>
            <td><%= league.user_rating current_user %></td>
            <td><%= league.user_games(current_user).size %></td>
            <td><%= league.get_spread current_user %></td>
            <td><%= format_ratio(league.get_ratio current_user) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </center>
  <script>
    $('.league_row').click(function (event_object) {
      var target_path = event_object.target.parentElement.getAttribute('league_path');
      window.location.replace(target_path);
    });
  </script>
</div>
