<div id="league_members">
  <center>
    <div class="btn-group btn-group-lg">
      <button id="add_member" type="button" class="btn btn-danger">
        Add Member
      </button>
    </div>
    <h2>Members</h2>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td>Name</td>
          <td>Admin Privledges</td>
        </tr>
      </thead>
      <tbody>
        <% for user in @users %>
          <tr class="member_row" member_path="<%= user_path user %>">
            <td><%= user.name %> (<%= user.email %>)</td>
            <% if @league.owner? user %>
              <td><b>Commisioner</b></td>
            <% else %>
              <td>
                <% if user.admin? @league %>
                  <input class="admin_checkbox" type="checkbox"
                         checked="true" user_id="<%= user.id %>">
                <% else %>
                  <input class="admin_checkbox" type="checkbox" user_id="<%= user.id %>">
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </center>
</div>
<script>
  $('#add_member').click(function () {
    Turbolinks.visit("<%= new_league_invite_path @league %>");
  });
  $('.admin_checkbox').click(function (event_object) {
    var user_id = event_object.target.getAttribute('user_id');
    var path = '<%= league_path @league %>/admin/' + user_id + '/toggle';
    $.get(path);
  });
</script>
