<div id="league_members" league_admin_path="<%= url_for league_admin_path(@league) %>">
  <center>
    <%= link_to new_league_invite_path(@league) do %>
      <button id="add_member" type="button" class="btn btn-danger btn-lg">
        Add Members
      </button>
    <% end %>
    <% if params[:client] == 'and' %>
      <%= link_to league_invite_contacts_path(@league) do %>
        <button id="invite_contacts_button" type="button" class="btn btn-danger btn-lg">
          Add Contacts
        </button>
      <% end %>
    <% end %>
    <br>
    <br>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <td>Name</td>
          <td>Admin Privledges</td>
        </tr>
      </thead>
      <tbody>
        <% for user in @users %>
          <tr class="member_row" member_path="<%= user_path user %>">
            <td><%= user.name %> (<%= user.email %>)</td>
            <% if @league.owner? user %>
              <td><b>Commisioner</b></td>
            <% else %>
              <td>
                <% if user.admin? @league %>
                  <input class="admin_checkbox" type="checkbox"
                         checked="true" user_id="<%= user.id %>">
                <% else %>
                  <input class="admin_checkbox" type="checkbox" user_id="<%= user.id %>">
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </center>
</div>
