<div id="show_league">
  <center>
    <h1><%= @league.name %></h1>
    <%= render template: 'leagues/admin_button' %>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>League Standings</h3>
          </div>
          <div class="panel-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td>#</td>
                  <td>Name</td>
                  <td>Rating</td>
                  <td>Games</td>
                  <td>+/-</td>
                  <td>Ratio</td>
                </tr>
              </thead>
              <tbody>
                <% i = 1 %>
                <% for rating in @league.ratings %>
                  <tr class="user_row" user_path="<%= user_path rating.user_id %>">
                    <td><%= i %></td>
                    <% i = i + 1 %>
                    <td><%= rating.name %></td>
                    <td><%= rating.rating %></td>
                    <td><%= rating.games_played %></td>
                    <td><%= rating.wins %>/<%= rating.losses %></td>
                    <td><%= format_ratio(rating.wins - rating.losses) %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>Season Standings</h3>
          </div>
          <div class="panel-body">
            <% if @seasons.size == 0 and current_user.admin? @league %>
              <%= render template: 'seasons/add_button' %>
            <% end %>
            <% for season in @seasons %>
              <div class="panel panel-success">
                <div class="panel-heading">
                  <%= link_to league_season_path @league, season do %>
                    <h2><%= season.name %></h2>
                  <% end %>
                </div>
                <div class="panel-body">
                  End date: <%= format_date season.end_date %>
                  <br>
                  <table class="table table-bordered table-hover">
                    <thead>
                      <tr>
                        <td>#</td>
                        <td>Name</td>
                        <td>Rating</td>
                        <td>Games</td>
                        <td>+/-</td>
                        <td>Ratio</td>
                      </tr>
                    </thead>
                    <tbody>
                      <% i = 1 %>
                      <% for rating in season.ratings %>
                        <tr class="user_row" user_path="<%= user_path rating.user_id %>">
                          <td><%= i %></td>
                          <% i = i + 1 %>
                          <td><%= rating.name %></td>
                          <td><%= rating.rating %></td>
                          <td><%= rating.games_played %></td>
                          <td><%= rating.wins %>/<%= rating.losses %></td>
                          <td><%= format_ratio(rating.wins - rating.losses) %></td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </center>
</div>
