<div id="god_page">
  <center>
    <div class="well">
      <h1>God Mode Enabled</h1>
    </div>
    <div class="well">
      <table class="table table-bordered">
        <thead>
          <tr>
            <td>Users</td>
            <td>Leagues</td>
            <td>Seasons</td>
            <td>Games</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= User.count %></td>
            <td><%= League.count %></td>
            <td><%= Season.count %></td>
            <td><%= Game.count %></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>Users</h2>
          </div>
          <div class="panel-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td>Name</td>
                  <td>Email</td>
                  <td>Joined</td>
                  <td>Last Sign In</td>
                  <td>Leagues</td>
                  <td>Seasons</td>
                  <td>Games</td>
                </tr>
              </thead>
              <tbody>
                <% for user in @god_users %>
                  <tr>
                    <td><%= user.name %></td>
                    <td><%= user.email %></td>
                    <td class="game_date"><%= user.created_at %></td>
                    <td class="game_date"><%= user.last_sign_in_at %></td>
                    <td><%= user.leagues.count %></td>
                    <td><%= user.seasons.count %></td>
                    <td><%= user.games.count %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>Leagues</h2>
          </div>
          <div class="panel-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td>Name</td>
                  <td>Created</td>
                  <td>Members</td>
                  <td>Invites</td>
                  <td>Seasons</td>
                  <td>Games</td>
                </tr>
              </thead>
              <tbody>
                <% for league in @god_leagues %>
                  <tr>
                    <td><%= league.name %></td>
                    <td class="game_date"><%= league.created_at %></td>
                    <td><%= league.users.count %></td>
                    <td><%= league.invites.count %></td>
                    <td><%= league.seasons.count %></td>
                    <td><%= league.games.count %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>Seasons</h2>
          </div>
          <div class="panel-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td>Name</td>
                  <td>Created</td>
                  <td>Ending</td>
                  <td>Games</td>
                </tr>
              </thead>
              <tbody>
                <% for season in @god_seasons %>
                  <tr>
                    <td><%= season.name %></td>
                    <td class="game_date"><%= season.created_at %></td>
                    <td class="game_date"><%= season.end_date %></td>
                    <td><%= season.games.count %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2>Games</h2>
          </div>
          <div class="panel-body">
            <table class="table table-bordered table-hover">
              <thead>
                <tr>
                  <td>Logged</td>
                  <td>Players</td>
                  <td>Season</td>
                </tr>
              </thead>
              <tbody>
                <% for game in @god_games %>
                  <tr>
                    <td class="game_date"><%= game.created_at %></td>
                    <td><%= game.players.count %></td>
                    <td><%= game.season.name %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </center>
</div>
