<div id="home_page">
  <% if params[:client] != 'web' %>
    <div class="row">
      <%= render template: 'common/user_entrance' %>
    </div>
    <% if params[:client] == 'mob' %>
      <br>
      <%= render 'welcome/app_buttons' %>
    <% end %>
  <% else %>
    <div class="row">
      <div class="col-md-6">
        <%= render template: 'common/user_entrance' %>
        <br>
        <%= render 'welcome/app_buttons' %>
      </div>
      <br>
      <div id="info_pane" class="col-md-6">
        <%= render template: 'welcome/intro' %>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-12">
        <%= render template: 'welcome/example' %>
      </div>
    </div>
  <% end %>
</div>
