<% if @league_benchwarmers.size > 0 %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Benchwarmers</h3>
    </div>
    <div class="panel-body">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td>Name</td>
            <td>Rating</td>
            <td>Games</td>
            <td>+/-</td>
          </tr>
        </thead>
        <tbody>
          <% for rating in @league_benchwarmers %>
            <tr class="rating_row" user_id="<%= rating.user_id %>">
              <td><%= rating.name %></td>
              <td><%= rating.rating %></td>
              <td><%= rating.games_played %></td>
              <td><%= rating.wins %>/<%= rating.losses %></td>
            </tr>
          <% end %>
        </tbody> 
      </table>
    </div>
  </div>
<% end %>
