<div id="games_listing">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3>Games</h3>
    </div>
    <div class="panel-body">
      <table class="table table-bordered table-hover">
        <thead>
          <tr>
            <td>Date</td>
            <% if show_ratings %>
              <td>League Change</td>
              <td>Season Change</td>
            <% end %>
            <td>Participants</td>
          </tr>
        </thead>
        <tbody>
          <% for game in @games %>
            <% season = game.season %>
            <% league = season.league %>
            <% path = league_season_game_path league, season, game %>
            <% players = game.players %>
            <tr class="game_row" game_path="<%= url_for path %>">
              <td><%= game.created_at %></td>
              <% if show_ratings %>
                <% player = players.where(user_id: params[:id]).first %>
                <td><%= format_ratio player.change_in_league_rating %></td>
                <td><%= format_ratio player.change_in_season_rating %></td>
                <td>
                  <% if players.size > 1 %>
                    <% if players.size > 2 %>
                      <% for player in players[0..(players.size - 2)] %>
                        <%= user_acronym player.user.name %>,
                      <% end %>
                    <% else %>
                      <%= user_acronym players[0].user.name %>
                    <% end %>
                    and
                  <% end %>
                  <%= user_acronym players[-1].user.name %>
                </td>
              <% else %>
                <td>
                  <% if players.size > 1 %>
                    <% if players.size > 2 %>
                      <% for player in players[0..(players.size - 2)] %>
                        <%= player.user.name %>,
                      <% end %>
                    <% else %>
                      <%= players[0].user.name %>
                    <% end %>
                    and
                  <% end %>
                  <%= players[-1].user.name %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <tbody>
      </table>
    </div>
  </div>
</div>
