<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>BallsApp</title>
        <meta name="description" content="Keep track of your social beer pong rankings using Balls's ELO based rating system. Simultaneously keep track of multiple game rules as different seasons"/>
        <meta name="keywords" content="balls,ballsapp,beer pong,beer,pong,tracker,pong tracker,beer pong tracker,ratings,rankings,beer pong ratings,beer pong rankings,elo"/>
        <meta name="robots" content="index,follow"/>
        <meta name="DC.title" content="BallsApp: the social beer pong tracker"/>
        <meta http-equiv="cleartype" content="on">
        <meta name="MobileOptimized" content="320">
        <meta name="HandheldFriendly" content="True">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
        <%= javascript_include_tag '//www.google.com/jsapi', 'chartkick' %>
        <%= csrf_meta_tags %>
    </head>
    <body>
      <nav id="menu" class="menu">
        <%= render template: 'common/menu' %>
      </nav>
      <main id="panel" class="panel">
        <div class="container">
          <%= render template: 'common/nav_bar' %>
          <br>
          <center>
            <div class="global_alert alert alert-warning"><%= notice %></div>
            <div class="global_alert alert alert-danger"><%= alert %></div>
          </center>
          <%= yield %>
        </div>
      </main>
      <%= render template: 'common/spinner' %>
      <% if Rails.env.production? %>
        <%= render template: 'common/google_analytics' %>
      <% end %>
    </body>
</html>
