<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BallsApp</title>
    <%= render 'common/head_tags' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <% if user_signed_in? %>
      <nav id="menu" class="menu">
        <%= raw @menu %>
      </nav>
      <script>
        <% if params[:client] == 'and' %>
            $(document).ready(function () {
                slider_ready(true);
            });
        <% else %>
            $(document).ready(function () {
                slider_ready(false);
            });
        <% end %>
      </script>
    <% end %>
    <main id="panel" class="panel">
      <div class="container">
        <%= render template: 'common/nav_bar' %>
        <br>
        <div id ="site_contents">
          <center>
            <div class="global_alert alert alert-warning"><%= notice %></div>
            <div class="global_alert alert alert-danger"><%= alert %></div>
          </center>
          <%= yield %>
        </div>
      </div>
    </main>
    <%= content_for :footer %>
    <%= render template: 'common/instruction_pane' %>
    <%= render template: 'common/spinner' %>
    <% if Rails.env.production? %>
      <%= render template: 'common/google_analytics' %>
    <% end %>
  </body>
</html>
